<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <jet_integration_settings>
                <enable>1</enable>
                <user_key>xxxxx-xxxxx-xxxxx</user_key>
                <secret_key>xxxxx-xxxxx-xxxxx</secret_key>
                <merchant_id>xxxxx-xxxxx-xxxxx</merchant_id>
                <category_id>2</category_id>
                <jet_browse_node_id>14000009</jet_browse_node_id>
                <fulfillment_node_id>xxxxxxxxxxxxxxx</fulfillment_node_id>
                <jet_cron_job_product>* * * * *</jet_cron_job_product>
                <jet_cron_job_order>* * * * *</jet_cron_job_order>
            </jet_integration_settings>
        </general>
    </default>
</config>