<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Syedzaidi\JetIntegration\Api\Data\JetTokenInterface" type="Syedzaidi\JetIntegration\Model\JetToken" />
    <preference for="Syedzaidi\JetIntegration\Api\JetTokenRepositoryInterface" type="Syedzaidi\JetIntegration\Model\JetTokenRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="jet_product_listing_data_source" xsi:type="string">Syedzaidi\JetIntegration\Model\ResourceModel\JetProduct\JetProductCollectionModel</item>
            </argument>
        </arguments>
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="jet_order_listing_data_source" xsi:type="string">Syedzaidi\JetIntegration\Model\ResourceModel\JetOrder\JetOrderCollectionModel</item>
            </argument>
        </arguments>
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="jet_return_listing_data_source" xsi:type="string">Syedzaidi\JetIntegration\Model\ResourceModel\JetReturn\JetReturnCollectionModel</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Syedzaidi\JetIntegration\Model\ResourceModel\JetProduct\JetProductCollectionModel" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jet_integration_product</argument>
            <argument name="resourceModel" xsi:type="string">Syedzaidi\JetIntegration\Model\ResourceModel\JetProductResourceModel</argument>
        </arguments>
    </virtualType>
    <virtualType name="Syedzaidi\JetIntegration\Model\ResourceModel\JetOrder\JetOrderCollectionModel" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jet_integration_order</argument>
            <argument name="resourceModel" xsi:type="string">Syedzaidi\JetIntegration\Model\ResourceModel\JetOrderResourceModel</argument>
        </arguments>
    </virtualType>
    <virtualType name="Syedzaidi\JetIntegration\Model\ResourceModel\JetReturn\JetReturnCollectionModel" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jet_integration_return</argument>
            <argument name="resourceModel" xsi:type="string">Syedzaidi\JetIntegration\Model\ResourceModel\JetReturnResourceModel</argument>
        </arguments>
    </virtualType>
</config>