<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Syedzaidi_JetIntegration::jet" title="Jet" translate="title" module="Syedzaidi_JetIntegration"
             sortOrder="200" dependsOnModule="Syedzaidi_JetIntegration" resource="Magento_Catalog::catalog"/>
        <add id="Syedzaidi_JetIntegration::jet_products" title="Products" translate="title"
             module="Syedzaidi_JetIntegration" sortOrder="10" parent="Syedzaidi_JetIntegration::jet"
             action="jetintegration/products" resource="Magento_Catalog::products"/>
        <add id="Syedzaidi_JetIntegration::jet_orders" title="Orders" translate="title"
             module="Syedzaidi_JetIntegration" sortOrder="11" parent="Syedzaidi_JetIntegration::jet"
             action="jetintegration/orders" resource="Magento_Catalog::products"/>
        <add id="Syedzaidi_JetIntegration::jet_setting" title="Settings" translate="title"
             module="Syedzaidi_JetIntegration" sortOrder="12" parent="Syedzaidi_JetIntegration::jet"
             action="adminhtml/system_config" resource="Magento_Catalog::products"/>
    </menu>
</config>
